@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: PT Sans;
  font-weight: 400;
  scrollbar-width: thin;
  scrollbar-color: #4000c3 #1b1b23;
}
*::-webkit-scrollbar {
  width: 0.6rem;
}
*::-webkit-scrollbar-track {
  background: #1b1b23;
  border-radius: 0.3rem;
}
*::-webkit-scrollbar-thumb {
  background-color: #4000c3;
  border-radius: 20px;
  border: 3px solid #1b1b23;
}

body {
  background: #24242f;
}

.flex-j-c {
  display: flex;
  justify-content: center;
}

.flex-j-c-all {
  display: flex;
  justify-content: center;
}
.flex-j-c-all * {
  display: flex;
  justify-content: center;
}

.flex-a-c {
  display: flex;
  align-items: center;
}

.flex-a-c-all {
  display: flex;
  align-items: center;
}
.flex-a-c-all * {
  display: flex;
  align-items: center;
}

.color-l-black {
  color: rgba(0, 0, 0, 0.5);
}

.chat-btn {
  background: #4000c3;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: 0.3s ease-out;
  border: #4000c3 solid 1px;
}
.chat-btn:hover {
  transition: 0.3s ease-out;
  border-color: white;
  opacity: 0.8;
}

.chat-select {
  background: #4000c3;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: 0.3s ease-out;
  border: #4000c3 solid 1px;
}
.chat-select:hover {
  transition: 0.3s ease-out;
  border-color: white;
  opacity: 0.8;
}
.chat-select:focus {
  transition: 0.3s ease-out;
  background: #4000c3;
  border-color: white;
}

.container {
  max-width: 100% !important;
}

.header {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.header-menu {
  --bs-gutter-x: 0rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.header-menu-logout button {
  background: #820000;
  border-color: #820000;
}
.header-menu-my-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-my-profile-logo-image {
  width: 100%;
}
.header-menu-my-profile-title {
  color: #ffffff;
}

.main {
  margin-top: 1.5rem;
  display: flex;
  align-items: flex-start;
}
.main .row {
  --bs-gutter-x: 0rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.main-chatarea {
  display: flex;
  align-items: flex-end !important;
}
.main-chatarea-messages {
  align-items: center;
  justify-content: flex-end;
  background: #1b1b23;
  border-radius: 0.5rem;
  height: 75vh;
  margin-bottom: 1rem;
  overflow: auto;
  text-align: center;
}
.main-chatarea-messages-item {
  display: inline-block !important;
  width: 80%;
  background: #000;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-align: left;
  word-wrap: break-word;
}
.main-chatarea-messages .me {
  margin-left: 7rem;
  border-radius: 0.6rem 0.1rem 0.6rem 0.6rem;
  background: #4000c3;
}
.main-chatarea-messages .some {
  margin-right: 7rem;
  border-radius: 0.1rem 0.6rem 0.6rem 0.6rem;
}
.main-chatarea-textarea-outdiv {
  width: 100%;
  height: 1rem;
  resize: none;
  border: none;
  background: #cbcbcb;
  border-radius: 0.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}
.main-chatarea-textarea-placeholder {
  display: none;
  color: #1b1b23;
  z-index: 3;
  width: 100%;
}
.main-chatarea-textarea-outtext {
  display: block;
  width: 100%;
}
.main-chatarea-textarea-outtext-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-chatarea-textarea-outtext-element i {
  margin-right: 0.3rem;
  cursor: pointer;
}
.main-chatarea-textarea-outtext-element i:hover {
  color: #4000c3;
}
.main-chatarea-textarea-outtext-element-text {
  display: block;
  width: 90%;
  outline: none;
  cursor: text;
  color: #000000;
}
.main-chatarea-textarea-outtext-element-text:empty:before {
  content: "Type a message...";
  color: rgba(0, 0, 0, 0.5);
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3rem;
  background: red;
}

/*# sourceMappingURL=chat.css.map */
