@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//Variables

$violet: #4000c3;
$white: #ffffff;
$lightGrey: #cbcbcb;
$darkRed: #820000;
$grey: #24242f;
$footer-height: 3rem;
$black: #000000;
$black-25p: #1b1b23;
$black-50p: rgba(0,0,0,.5);



//Styles

*{
  font-family: PT Sans;
  font-weight: 400;
  scrollbar-width: thin;
  scrollbar-color: $violet $black-25p;
  &::-webkit-scrollbar {
    width: .6rem;
  }
  &::-webkit-scrollbar-track {
    background: $black-25p;
    border-radius: .3rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $violet;
    border-radius: 20px;
    border: 3px solid $black-25p;
  }
}
body{
  background: $grey;
}
.flex-j-c{
  display: flex;
  justify-content: center;
}
.flex-j-c-all{
  display: flex;
  justify-content: center;
  & *{
    display: flex;
    justify-content: center;
  }
}
.flex-a-c{
  display: flex;
  align-items: center;
}
.flex-a-c-all{
  display: flex;
  align-items: center;
  & *{
    display: flex;
    align-items: center;
  }
}
.color-l-black{
  color: $black-50p;
}
.chat-btn{
  background: $violet;
  color: $white;
  padding: .5rem 1rem;
  border-radius: .3rem;
  transition: .3s ease-out;
  border: $violet solid 1px;
  &:hover{
    transition: .3s ease-out;
    border-color: white;
    opacity: .8;
  }
}
.chat-select{
  background: $violet;
  color: $white;
  padding: .5rem 1rem;
  border-radius: .3rem;
  transition: .3s ease-out;
  border: $violet solid 1px;
  &:hover{
    transition: .3s ease-out;
    border-color: white;
    opacity: .8;
  }
  &:focus{
    transition: .3s ease-out;
    background: $violet;
    border-color: white;
  }
}
.container{
  max-width: 100% !important;
}
.header{
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  &-menu{
    --bs-gutter-x: 0rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
    &-logout{
      button{
        background: $darkRed;
        border-color: $darkRed;
      }
    }
    &-my-profile{
      display: flex;
      justify-content: center;
      align-items: center;
      &-logo{
        &-image{
          width: 100%;
        }
      }
      &-title{
        color: $white;
      }
    }
  }

}

.main{
  margin-top: 1.5rem;
  display: flex;
  align-items: flex-start;
  & .row{
    --bs-gutter-x: 0rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  &-chatarea{
    display: flex;
    align-items: flex-end !important;
    //overflow-y: auto;

    &-messages{
      //display: flex;
      align-items: center;
      justify-content: flex-end;
      background: $black-25p;
      border-radius: .5rem;
      height: 75vh;
      margin-bottom: 1rem;
      //flex-direction: column;
      overflow: auto;
      text-align: center;

      &-item{
        display: inline-block !important;
        width: 80%;
        background: #000;
        //margin: 1rem auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: .5rem 1rem;
        color: $white;
        text-align: left;
        word-wrap: break-word;
      }
      .me{
        margin-left: 7rem;
        border-radius: .6rem .1rem .6rem .6rem;
        background: $violet;
      }
      .some{
        margin-right: 7rem;
        border-radius: .1rem .6rem .6rem .6rem;

      }
    }
    &-textarea{
      &-outdiv{
        width: 100%;
        height: 1rem;
        resize: none;
        border: none;
        background: $lightGrey;
        border-radius: .3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 1rem;
      }
      &-placeholder{
        display: none;
        color: $black-25p;
        z-index: 3;
        width: 100%;
      }
      &-outtext{
        display: block;
        width: 100%;
        &-element{
          display: flex;
          justify-content: space-between;
          align-items: center;
          i {
            margin-right: .3rem;
            cursor: pointer;
            &:hover{
              color: $violet;
            }
          }
          &-text{
            //max-height: 5rem;
            display: block;
            width: 90%;
            //white-space: nowrap;
            //overflow: hidden;
            //word-break: break-all !important;
            //outline: 0;
            //overflow-y: auto;
            outline: none;
            cursor: text;
            color: $black;
            &:empty:before {
              content: "Type a message...";
              color: $black-50p;
            }
          }
        }
      }
    }
  }
}



.footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: $footer-height;
  background: red;
}
